In [3]:
import os
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv("C:/Users/nkovi/Downloads/HCSCrime.csv")
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,incident_id,case_number,incident_datetime,incident_type_primary,incident_description,clearance_type,address_1,address_2,city,state,...,Harris County Sheriff's Office Constable 7 Contracts Shapes - fhz7-bxgz,Harris County Sheriff's Office Constable 6 Contracts Shapes - 5z9w-cbt8,Harris County Sheriff's Office HCSO South District Contracts Shapes - sc7y-jcba,Harris County Sheriff's Office Constable 1 Contracts Shapes - bscd-tnyk,Harris County Sheriff's Office HCSO North District Contracts Shapes - khwz-iwxt,Harris County Sheriff's Office Constable 4 Contracts Shapes - 4mgc-zixj,Harris County Sheriff's Office HCSO Northwest District Contracts Shapes - iy6w-rss3,Harris County Sheriff's Office Constable 2 Contracts Shapes - i3bi-x4gu,Harris County Sheriff's Office HCSO West District Contracts Shapes - 6ewd-9sc3,Harris County Sheriff's Office Constable 5 Contracts Shapes - su2i-xeh6
0,878915238,180077160-1,01/01/2018 12:00:00 AM,RMS Fraud,Fraud<br/><br/>Reporting Agency: Sheriff's Office,NaN,15500 Block KUYKENDAHL RD,NaN,HARRIS CO,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,878915747,180076342-1,01/01/2018 12:00:00 AM,RMS Fraud,Fraud<br/><br/>Reporting Agency: Sheriff's Office,NaN,10300 Block CRESCENT MOON DR,NaN,HOUSTON,TX,...,NaN,NaN,NaN,NaN,NaN,558529.0,NaN,NaN,NaN,NaN
2,878049751,180803082-1,11/13/2014 12:00:00 PM,RMS 26C IMPERSONATION,IMPERSONATION<br/><br/>Reporting Agency: Sherr...,NaN,3300 Block CANDLELON DR,NaN,SPRING,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,878048267,180903126-1,02/01/2015 12:07:00 AM,RMS 250 FORGERY - USING / UTTERING,FORGERY - USING / UTTERING<br/><br/>Reporting ...,NaN,6800 Block CYPRESSWOOD DR,NaN,SPRING,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,880905920,181000089-1,02/22/2018 12:00:00 AM,RMS Embezzlement,Embezzlement<br/><br/>Reporting Agency: Consta...,NaN,2400 Block SAN JACINTO ST,NaN,SEABROOK,TX,...,558699.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
editted_df = df[["incident_id", "incident_datetime", "zip", "created_at", "location", "day_of_week", "parent_incident_type"]]
editted_df.head()

,incident_id,incident_datetime,zip,created_at,location,day_of_week,parent_incident_type
0,878915238,01/01/2018 12:00:00 AM,77014,09/24/2018 06:14:59 PM,POINT (-95.461964 30.003736),Monday,Other
1,878915747,01/01/2018 12:00:00 AM,77064,09/24/2018 06:15:11 PM,POINT (-95.57446569999999 29.9290146),Monday,Other
2,878049751,11/13/2014 12:00:00 PM,77388,09/17/2018 10:22:57 PM,POINT (-95.4622797 30.0507551),Thursday,Property Crime
3,878048267,02/01/2015 12:07:00 AM,77379,09/17/2018 10:22:24 PM,POINT (-95.51151980000002 30.0118793),Sunday,Property Crime
4,880905920,02/22/2018 12:00:00 AM,77002,10/11/2018 11:46:48 AM,POINT (-95.3715163 29.744984),Thursday,Theft

In [ ]:
fig = px.line(editted_df, x = 'AAPL_x', y = 'AAPL_y', title='Apple Share Prices over time (2014)')
fig.show()