In [41]:
import pandas as pd
import numpy as np 
import glob

In [42]:
# Read Data source
dfs_09 = pd.read_csv('data/HPD_Crime/UCR09_crime.csv')

In [43]:
dfs_09.head()

,Unnamed: 0,ObjectID,Status,Score,Match_type,Side,X,Y,Match_addr,ARC_Street,...,Premise,Block Range,Street Name,Type,Suffix,# Of Offenses,X__1,Address.1,City.1,State.1
0,1,1,M,81.378428,A,R,-95.322341,29.801320,"4500 WIPPRECHT ST, HOUSTON, TX, 77026",4500 WIPPRECHT ST,...,13R,4500-4599,WIPPRECHT,ST,-,1.0,NaN,4500 WIPPRECHT ST,HOUSTON,TX
1,2,2,M,81.378428,A,L,-95.478453,29.731622,"5700 RICHMOND AVE, HOUSTON, TX, 77057",5700 RICHMOND AVE,...,18N,5700-5799,RICHMOND,AVE,-,1.0,NaN,5700 RICHMOND AVE,HOUSTON,TX
2,3,3,M,81.378428,A,R,-95.299274,29.900101,"12200 SWAN RIVER DR, HOUSTON, TX, 77050",12200 SWAN RIVER DR,...,20D,12200-12299,SWAN RIVER,DR,-,1.0,NaN,12200 SWAN RIVER DR,HOUSTON,TX
3,4,4,M,81.378428,A,R,-95.351548,29.692139,"6600 LONDON ST, HOUSTON, TX, 77021",6600 LONDON ST,...,20A,6600-6699,LONDON,ST,-,1.0,NaN,6600 LONDON ST,HOUSTON,TX
4,5,5,M,81.378428,A,R,-95.492678,29.671037,"5900 DUMFRIES DR, HOUSTON, TX, 77096",5900 DUMFRIES DR,...,20R,5900-5999,DUMFRIES,DR,-,1.0,NaN,5900 DUMFRIES DR,HOUSTON,TX

In [44]:
print(dfs_09.columns)
dfs_09.shape

Index(['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'X',
       'Y', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State', 'ARC_ZIP',
       'Field1', 'Address', 'City', 'State', 'coords.x1', 'coords.x2', 'X1',
       'Date', 'Hour', 'Offense Type', 'Beat', 'Premise', 'Block Range',
       'Street Name', 'Type', 'Suffix', '# Of Offenses', 'X__1', 'Address.1',
       'City.1', 'State.1'],
      dtype='object')

(130875, 34)

In [47]:
dfs_09_clean = dfs_09.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'Field1', 'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# Of Offenses', 'X__1', 'Address.1', 'City.1', 'State.1'])

In [72]:
print(dfs_09_clean.columns)
columnNames = ['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type']

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'Offense Type',
       'Beat', 'Block Range', 'Street Name', 'Type'],
      dtype='object')

In [90]:
dfs_09_clean.columns = columnNames
print(dfs_09_clean.columns)

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type'],
      dtype='object')

,X,Y,Address,City,State,Date,Hour,OffenseType,Beat,BlockRange,StreetName,Type
0,-95.322341,29.801320,4500 WIPPRECHT ST,HOUSTON,TX,1980-05-01,12.0,Aggravated Assault,7C20,4500-4599,WIPPRECHT,ST
1,-95.478453,29.731622,5700 RICHMOND AVE,HOUSTON,TX,1984-08-26,1.0,Theft,18F30,5700-5799,RICHMOND,AVE
2,-95.299274,29.900101,12200 SWAN RIVER DR,HOUSTON,TX,2000-08-13,17.0,Theft,8C60,12200-12299,SWAN RIVER,DR
3,-95.351548,29.692139,6600 LONDON ST,HOUSTON,TX,2001-08-20,20.0,Theft,14D10,6600-6699,LONDON,ST
4,-95.492678,29.671037,5900 DUMFRIES DR,HOUSTON,TX,2002-01-01,8.0,Theft,15E10,5900-5999,DUMFRIES,DR

In [93]:
dfs_09_clean.to_csv('data/HPD_Crime/Crime_09.csv',index=False)

In [50]:
dfs_10 = pd.read_csv('data/HPD_Crime/UCR10_crime.csv')
dfs_11 = pd.read_csv('data/HPD_Crime/UCR11_crime.csv')

In [62]:
dfs_12 = pd.read_csv('data/HPD_Crime/UCR12_crime.csv')
dfs_13 = pd.read_csv('data/HPD_Crime/UCR13_crime.csv')
dfs_14 = pd.read_csv('data/HPD_Crime/UCR14_crime.csv')
dfs_15 = pd.read_csv('data/HPD_Crime/UCR15_crime.csv')

In [51]:
print(dfs_10.shape)
print(dfs_11.shape)
print(dfs_10.columns)
print(dfs_11.columns)

(116704, 35)
(117015, 33)
Index(['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'X',
       'Y', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State', 'ARC_ZIP',
       'Field1', 'Address', 'City', 'State', 'coords.x1', 'coords.x2', 'X1',
       'Date', 'Hour', 'Offense Type', 'Beat', 'Premise', 'Block Range',
       'Street Name', 'Type', 'Suffix', '# Of Offenses', 'Field11', 'X__1',
       'Address.1', 'City.1', 'State.1'],
      dtype='object')
Index(['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'X',
       'Y', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State', 'ARC_ZIP',
       'Field1', 'Address', 'City', 'State', 'coords.x1', 'coords.x2', 'X1',
       'Date', 'Hour', 'Offense Type', 'Beat', 'Premise', 'Block Range',
       'Street Name', 'Type', 'Suffix', '# Of Offenses', 'Address.1', 'City.1',
       'State.1'],
      dtype='object')

In [52]:
dfs_10_clean = dfs_10.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'Field1', 'Field11', 'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# Of Offenses', 'X__1', 'Address.1', 'City.1', 'State.1'])

In [73]:
print(dfs_10_clean.columns)

dfs_10_clean.columns = columnNames

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'Offense Type',
       'Beat', 'Block Range', 'Street Name', 'Type'],
      dtype='object')

In [58]:
dfs_11_clean = dfs_11.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# Of Offenses', 'Address.1', 'City.1', 'State.1', 'Field1'])

In [74]:
dfs_11_clean.columns = columnNames

print(dfs_11_clean.columns)

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type'],
      dtype='object')

In [64]:
dfs_12.columns

Index(['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'X',
       'Y', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State', 'ARC_ZIP',
       'Field1', 'Address', 'City', 'State', 'coords.x1', 'coords.x2', 'X1',
       'Date', 'Hour', 'Offense Type', 'Beat', 'Premise', 'Block Range',
       'Street Name', 'Type', 'Suffix', '# Of Offenses', 'Address.1', 'City.1',
       'State.1'],
      dtype='object')

In [65]:
dfs_12_clean = dfs_12.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# Of Offenses', 'Address.1', 'City.1', 'State.1', 'Field1'])

In [76]:
dfs_12_clean.columns = columnNames
print(dfs_12_clean.columns)

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type'],
      dtype='object')

In [70]:
dfs_13_clean = dfs_13.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# Of Offenses', '# Of','Address.1', 'City.1', 'State.1', 'Field1'])

In [79]:
dfs_13_clean.columns = columnNames
print(dfs_13_clean.columns)

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type'],
      dtype='object')

In [80]:
dfs_14_clean = dfs_14.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# offenses', 'Address.1', 'City.1', 'State.1', 'Field1'])

In [83]:
dfs_14_clean.columns = columnNames
print(dfs_14_clean.columns)

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type'],
      dtype='object')

In [84]:
dfs_15_clean = dfs_15.drop(columns=['Unnamed: 0', 'ObjectID', 'Status', 'Score', 'Match_type', 'Side', 'Match_addr', 'ARC_Street', 'ARC_City', 'ARC_State','ARC_ZIP', 
                    'coords.x1', 'coords.x2', 'X1', 'Premise','Suffix', '# offenses', 'Address.1', 'City.1', 'State.1', 'Field1'])

In [87]:
dfs_15_clean.columns = columnNames
print(dfs_15_clean.columns)

Index(['X', 'Y', 'Address', 'City', 'State', 'Date', 'Hour', 'OffenseType',
       'Beat', 'BlockRange', 'StreetName', 'Type'],
      dtype='object')

In [95]:
merged_df = pd.concat([dfs_09_clean, dfs_10_clean, dfs_11_clean, dfs_12_clean, dfs_13_clean, dfs_14_clean, dfs_15_clean])

In [98]:
merged_df.to_csv('data/HPD_Crime/Crime_09_15.csv',index=False)

In [99]:
merged_df.head()

,X,Y,Address,City,State,Date,Hour,OffenseType,Beat,BlockRange,StreetName,Type
0,-95.322341,29.801320,4500 WIPPRECHT ST,HOUSTON,TX,1980-05-01,12,Aggravated Assault,7C20,4500-4599,WIPPRECHT,ST
1,-95.478453,29.731622,5700 RICHMOND AVE,HOUSTON,TX,1984-08-26,1,Theft,18F30,5700-5799,RICHMOND,AVE
2,-95.299274,29.900101,12200 SWAN RIVER DR,HOUSTON,TX,2000-08-13,17,Theft,8C60,12200-12299,SWAN RIVER,DR
3,-95.351548,29.692139,6600 LONDON ST,HOUSTON,TX,2001-08-20,20,Theft,14D10,6600-6699,LONDON,ST
4,-95.492678,29.671037,5900 DUMFRIES DR,HOUSTON,TX,2002-01-01,8,Theft,15E10,5900-5999,DUMFRIES,DR

In [34]:
# HPDCrime_09_15.head()
# HPDCrime_09_15.shape

(818242, 39)