In [22]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
import json
from urllib.parse import urlparse
import re
from pprint import pprint

In [3]:
# Part 1: Setting up url to scrape
# #Mac Users
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# Windows Users
#executable_path = {'executable_path': 'chromedriver.exe'}
#browser = Browser('chrome', **executable_path, headless=False)

url = "https://cityofhouston.news/category/incident-updates-hpd/"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

# Part 2: Click the "articles" that we are wanting to scrape
response_list = soup.find('div', class_ = 'site-content')

div_article = response_list.find_all('article')

In [4]:
#Have Article Titles appended to a list
articleTitles_list = []

for a in div_article: 
    titles = a.find('h2', class_ = 'entry-title').text
    print(titles)
    print("------------------")
    articleTitles_list.append(titles)

Suspect Arrested, Charged in Fatal Crash at 7300 South Loop East
------------------
Investigation into Fatal Crash at 10900 Beechnut Street
------------------
Investigation into Fatal Shooting at 12700 Foxton
------------------
Investigation into Fatal Crash at 98 Berry Road
------------------
Investigation into Fatal Crash at 1600 North Sam Houston Parkway
------------------
UPDATE: Suspect Arrested in Fatal Shooting at 7201 Rittenhouse Village Court
------------------
Suspect Charged, Wanted in Fatal Shooting at 7201 Rittenhouse Village Court
------------------
Investigation into Fatal Crash at 4200 North Sam Houston Parkway East
------------------
Investigation into Fatal Crash at 2000 West Little York Road
------------------
UPDATE #2:  Suspect Arrested in Fatal Shooting at 15829 Ridgeroe Lane
------------------

In [5]:
#Now only get the addresses from the list made above, this is what we'll need for the live map
at = 'at '
about = ' about'
empty_string = ""
addresses = []

for index, item in enumerate(articleTitles_list): 
    try: 
        if item == empty_string: 
            print(f"String missing at index {index}")
            addresses.append("")
        else: 
            if item.find(' about')==-1:
                addresses.append(item[item.index(at)+len(at):])
            elif item.find('at ') != -1 and item.find(' about')!= -1:
                if item.index(at) < item(about):
                    addresses.append(item[item.index(at)+len(at):item.index(about)])
    except ValueError: 
        addresses.append("")

In [6]:
#Now get the crime types from the article title 
into = 'into '
at = ' at'
topic_in = "in "
empty_string = ""
crime_type = []

for index, item in enumerate(articleTitles_list): 
    try: 

        if item == empty_string: 
            print(f"String missing at index {index}")
            crime_type.append("")
        else: 
            if item.find(' at')==-1:
                crime_type.append(item[item.index(into)+len(into):])
            elif item.find('into ') != -1 and item.find(' at')!= -1:
                if item.index(into) < item.index(at):
                    crime_type.append(item[item.index(into)+len(into):item.index(at)])
            elif item.find('in ')!= -1 and item.find(' at')!= -1: 
                if item.index(topic_in) < item.index(at):
                    crime_type.append(item[item.index(topic_in)+len(topic_in):item.index(at)])
    except ValueError: 
        crime_type.append("")

In [7]:
## Now get paragraphs and dates in a list
par_list = []
date_list = []
button = response_list.find_all('a', class_='button')

for content in button:
    try: 
        button_link = content['href']
        browser.visit(button_link)
        button_html = browser.html
        button_soup = BeautifulSoup(button_html, "html.parser")
        article_list = button_soup.find('article')
        date = article_list.find("span", class_ = "posted-date").text
        par = article_list.find("div", class_='entry-content')
        par_text = par.find('p').text
        print(par_text)
        print("----------------")
        print(date)
        par_list.append(par_text)
        date_list.append(date)
        
    except:
        print("----------------")


#Get time from the paragraphs for the live crime map
about = 'about '
am_pm = '.m.'
empty_string = ""
time = []

for index, item in enumerate(par_list): 
    try: 
        if item == empty_string: 
            print(f"String missing at index {index}")
            time.append("")
        else: 
            if item.find('.m.')==-1:
                time.append(item[item.index(about)+len(about):])
            elif item.find('about ') != -1 and item.find('.m.')!= -1:
                if item.index(about) < item.index(am_pm):
                    time.append(item[item.index(about)+len(about):item.index(am_pm)])
    except ValueError: 
        print("This doesn't have the text we need")
        time.append("")

----------------
October 21, 2019
Houston police are investigating a fatal crash that occurred at 10900 Beechnut about 10:05 p.m. on Saturday (October 19).
----------------
October 21, 2019
Houston police are investigating the fatal shooting of a man found at 12700 Foxton about 12:50 a.m. on Saturday (October 19).
----------------
October 21, 2019
Houston police are investigating a fatal crash that occurred at 98 Berry Road about 1:10 a.m. on Saturday (October 19).
----------------
October 21, 2019
Houston police are investigating a fatal crash that occurred at 1600 North Sam Houston Parkway service road about 1:40 a.m. on Saturday (October 19).
----------------
October 21, 2019
A suspect wanted in the fatal shooting of a man at 7201 Rittenhouse Village Court about 1:10 a.m. on Saturday (October 19) is in police custody.
----------------
October 21, 2019
Charges have been filed against a suspect wanted in the fatal shooting of a man at 7201 Rittenhouse Village Court about 1:10 a.m. today (October 19).
----------------
October 21, 2019
Houston police are investigating a fatal crash at 4200 North Sam Houston Parkway East about 6:45 a.m. today (Oct. 18).
----------------
October 18, 2019
Houston police have learned a woman critically injured in a crash at 2000 West Little York Road about 7:10 p.m. on September 29 has died.
----------------
October 18, 2019
Authorities have arrested a suspect charged in the fatal shooting of a transgender female at 15829 Ridgeroe Lane about 2 p.m. on September 20.
----------------
October 17, 2019
String missing at index 0

In [8]:
#Now make a dataframe
Incident_Updates_df = pd.DataFrame({"date": date_list,
                                    "time of day": time,
                                    "type": crime_type, 
                                    "address": addresses})

Incident_Updates_df = Incident_Updates_df[Incident_Updates_df["address"]!= ""] 

Incident_Updates_df["time"] = Incident_Updates_df["date"] + ' '+ Incident_Updates_df["time of day"]

incident_updates_df = Incident_Updates_df.drop(['date', 'time of day'], axis=1)

In [13]:
#find lat and long for dataframe
lat = []
lon = []
location = []

for x in range(0,len(incident_updates_df)):
    try:
        print(incident_updates_df['address'][x])
        row = requests.get('https://nominatim.openstreetmap.org/search?q='+ incident_updates_df['address'][x] + ',Houston,Tx&format=json')
        lat.append(row.json()[0]['lat'])
        lon.append(row.json()[0]['lon'])
        location.append([row.json()[0]['lat'],row.json()[0]['lon']])
        print('-----APPEND DONE------')
    except:
        lat.append('')
        lon.append('')
        location.append('')
        pass

7300 South Loop East
-----APPEND DONE------
10900 Beechnut Street
-----APPEND DONE------
12700 Foxton
-----APPEND DONE------
98 Berry Road
-----APPEND DONE------
7201 Rittenhouse Village Court
-----APPEND DONE------
7201 Rittenhouse Village Court
-----APPEND DONE------
4200 North Sam Houston Parkway East
-----APPEND DONE------
2000 West Little York Road
-----APPEND DONE------

In [14]:
incident_updates_df['lat'] = lat
incident_updates_df['lon'] = lon
incident_updates_df["location"] = location

incident_updates_df = incident_updates_df[(incident_updates_df['lat']!= '') & (incident_updates_df['lon']!= '')]

In [17]:
incident_updates_df

,type,address,time,lat,lon,location
0,Fatal Crash,7300 South Loop East,"October 21, 2019",29.6808204,-95.3645677,"[29.6808204, -95.3645677]"
1,Fatal Crash,10900 Beechnut Street,"October 21, 2019 10:05 p",29.688427,-95.570416,"[29.688427, -95.570416]"
2,Fatal Shooting,12700 Foxton,"October 21, 2019 12:50 a",29.624547,-95.311954,"[29.624547, -95.311954]"
3,Fatal Crash,98 Berry Road,"October 21, 2019 1:10 a",29.837491,-95.375825,"[29.837491, -95.375825]"
6,Fatal Shooting,7201 Rittenhouse Village Court,"October 21, 2019 1:10 a",29.8657292126156,-95.4036505572598,"[29.8657292126156, -95.4036505572598]"
7,Fatal Crash,4200 North Sam Houston Parkway East,"October 18, 2019 6:45 a",29.8657292126156,-95.4036505572598,"[29.8657292126156, -95.4036505572598]"
8,Fatal Crash,2000 West Little York Road,"October 18, 2019 7:10 p",29.940118,-95.2981598,"[29.940118, -95.2981598]"
9,Fatal Shooting,15829 Ridgeroe Lane,"October 17, 2019 2 p",29.8697653,-95.409689,"[29.8697653, -95.409689]"

In [ ]:
#make dataframe into dictinary

dict_HPDIncidents = incident_updates_df.to_dict('records')

with open ('HPDIncidents_new.txt', 'w') as json_file: 
    json.dump(dict_HPDIncidents, json_file)

## Create live data json

In [19]:
df_live = pd.DataFrame({'location':incident_updates_df["location"], 'time':incident_updates_df["time"], 
                        'type':incident_updates_df["type"], 'address':incident_updates_df["address"]})

In [20]:
df_live

,location,time,type,address
0,"[29.6808204, -95.3645677]","October 21, 2019",Fatal Crash,7300 South Loop East
1,"[29.688427, -95.570416]","October 21, 2019 10:05 p",Fatal Crash,10900 Beechnut Street
2,"[29.624547, -95.311954]","October 21, 2019 12:50 a",Fatal Shooting,12700 Foxton
3,"[29.837491, -95.375825]","October 21, 2019 1:10 a",Fatal Crash,98 Berry Road
6,"[29.8657292126156, -95.4036505572598]","October 21, 2019 1:10 a",Fatal Shooting,7201 Rittenhouse Village Court
7,"[29.8657292126156, -95.4036505572598]","October 18, 2019 6:45 a",Fatal Crash,4200 North Sam Houston Parkway East
8,"[29.940118, -95.2981598]","October 18, 2019 7:10 p",Fatal Crash,2000 West Little York Road
9,"[29.8697653, -95.409689]","October 17, 2019 2 p",Fatal Shooting,15829 Ridgeroe Lane

In [23]:
dfs_dict = df_live.to_dict('records')
pprint(dfs_dict)

[{'address': '7300 South Loop East',
  'location': ['29.6808204', '-95.3645677'],
  'time': 'October 21, 2019 ',
  'type': 'Fatal Crash'},
 {'address': '10900 Beechnut Street',
  'location': ['29.688427', '-95.570416'],
  'time': 'October 21, 2019 10:05 p',
  'type': 'Fatal Crash'},
 {'address': '12700 Foxton',
  'location': ['29.624547', '-95.311954'],
  'time': 'October 21, 2019 12:50 a',
  'type': 'Fatal Shooting'},
 {'address': '98 Berry Road',
  'location': ['29.837491', '-95.375825'],
  'time': 'October 21, 2019 1:10 a',
  'type': 'Fatal Crash'},
 {'address': '7201 Rittenhouse Village Court',
  'location': ['29.8657292126156', '-95.4036505572598'],
  'time': 'October 21, 2019 1:10 a',
  'type': 'Fatal Shooting'},
 {'address': '4200 North Sam Houston Parkway East',
  'location': ['29.8657292126156', '-95.4036505572598'],
  'time': 'October 18, 2019 6:45\xa0a',
  'type': 'Fatal Crash'},
 {'address': '2000 West Little York Road',
  'location': ['29.940118', '-95.2981598'],
  'time': 'October 18, 2019 7:10 p',
  'type': 'Fatal Crash'},
 {'address': '15829 Ridgeroe Lane',
  'location': ['29.8697653', '-95.409689'],
  'time': 'October 17, 2019 2 p',
  'type': 'Fatal Shooting'}]

In [24]:
import sys
import pymongo

In [25]:
uri = "mongodb://livecrime_user:track#txN0W@ds137498.mlab.com:37498/heroku_jq1zsq2q?retryWrites=false"
client = pymongo.MongoClient(uri)

In [26]:
db = client.heroku_jq1zsq2q

In [27]:
# Get the collection names in the database
db.collection_names()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.

['system.indexes', 'crimatracker', 'livedata']

In [28]:
livedata = db['livedata']

In [29]:
livedata.insert_many(dfs_dict)

In [30]:
data = list(db.livedata.find())

In [31]:
data

[{'_id': ObjectId('5dae7ca6ff7d176302ed56e1'),
  'location': ['29.5800608', '-95.5186457'],
  'time': '10/21/2019 22:23',
  'type': 'TRAFFIC HAZARD/URGENT',
  'address': '8700 MCHARD RD'},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e2'),
  'location': ['29.9815111', '-95.5677092'],
  'time': '10/21/2019 21:35',
  'type': 'CRASH/MINOR/FSGI',
  'address': '17642 TOMBALL PKWY OB '},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e3'),
  'location': ['29.8078378', '-95.3734002'],
  'time': '10/21/2019 21:16',
  'type': 'CRASH/MINOR/DISTURBANCE',
  'address': '9344 NORTH FWY OB'},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e4'),
  'location': ['29.755667', '-95.272799'],
  'time': '10/21/2019 21:10',
  'type': 'CRASH/MINOR/FSGI',
  'address': '2100 GELLHORN'},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e5'),
  'location': ['29.597532', '-95.1964804'],
  'time': '10/21/2019 20:40',
  'type': 'CRASH/MAJOR/FSRA',
  'address': '6626 GULF FWY OB'},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e6'),
  'location': ['29.7378077', '-95.4923975'],
  'time': '10/21/2019 20:15',
  'type': 'CRASH/MINOR',
  'address': '7531 WESTHEIMER RD'},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e7'),
  'location': ['29.6072050422428', '-95.2481463443377'],
  'time': '10/21/2019 19:19',
  'type': 'TRAFFIC HAZARD/NON URGENT',
  'address': '10911 GULF BRIDGE CT'},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e8'),
  'location': ['29.5957864039304', '-95.1976580047403'],
  'time': '10/21/2019 19:11',
  'type': 'CRASH/MAJOR/NON FATAL',
  'address': '11864 ALGONQUIN DR '},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56e9'),
  'location': ['29.716569', '-95.480465'],
  'time': '10/21/2019 18:59',
  'type': 'CRASH/MAJOR/NON FATAL',
  'address': '5698 GULFTON ST '},
 {'_id': ObjectId('5dae7ca6ff7d176302ed56ea'),
  'location': ['29.8156096386152', '-95.3693851405038'],
  'time': '10/21/2019 14:11',
  'type': 'CRASH/MINOR/DISTURBANCE',
  'address': '213 CAPLIN ST'},
 {'_id': ObjectId('5dae953cbc07e77185d729b6'),
  'location': ['29.6808204', '-95.3645677'],
  'time': 'October 21, 2019 ',
  'type': 'Fatal Crash',
  'address': '7300 South Loop East'},
 {'_id': ObjectId('5dae953cbc07e77185d729b7'),
  'location': ['29.688427', '-95.570416'],
  'time': 'October 21, 2019 10:05 p',
  'type': 'Fatal Crash',
  'address': '10900 Beechnut Street'},
 {'_id': ObjectId('5dae953cbc07e77185d729b8'),
  'location': ['29.624547', '-95.311954'],
  'time': 'October 21, 2019 12:50 a',
  'type': 'Fatal Shooting',
  'address': '12700 Foxton'},
 {'_id': ObjectId('5dae953cbc07e77185d729b9'),
  'location': ['29.837491', '-95.375825'],
  'time': 'October 21, 2019 1:10 a',
  'type': 'Fatal Crash',
  'address': '98 Berry Road'},
 {'_id': ObjectId('5dae953cbc07e77185d729ba'),
  'location': ['29.8657292126156', '-95.4036505572598'],
  'time': 'October 21, 2019 1:10 a',
  'type': 'Fatal Shooting',
  'address': '7201 Rittenhouse Village Court'},
 {'_id': ObjectId('5dae953cbc07e77185d729bb'),
  'location': ['29.8657292126156', '-95.4036505572598'],
  'time': 'October 18, 2019 6:45\xa0a',
  'type': 'Fatal Crash',
  'address': '4200 North Sam Houston Parkway East'},
 {'_id': ObjectId('5dae953cbc07e77185d729bc'),
  'location': ['29.940118', '-95.2981598'],
  'time': 'October 18, 2019 7:10 p',
  'type': 'Fatal Crash',
  'address': '2000 West Little York Road'},
 {'_id': ObjectId('5dae953cbc07e77185d729bd'),
  'location': ['29.8697653', '-95.409689'],
  'time': 'October 17, 2019 2 p',
  'type': 'Fatal Shooting',
  'address': '15829 Ridgeroe Lane'}]

In [32]:
len(data)

18